modules = ["python-3.11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "hi"
mode = "sequential"
author = 42189818

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[workflows.workflow]]
name = "Flask"
author = 42189818
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web && python app.py"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "autoscale"

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql"]

[[ports]]
localPort = 5000
externalPort = 80
